@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

body {
    position: absolute;
    height: 100vh;
    margin: 0;
    background-image: url('./fundo.png');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top {
    margin-bottom: 19px;
}

#container {
    max-width: 1000px;
    background-color: rgba(245, 241, 241, 0.8);
    border: 10px solid transparent;
    border-radius: 10px;
    text-align: center;
    color: transparent;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    margin: 0;
    text-align: center;
}

#player {
    width: 554px;
    height: 312px;
}

 @media (max-width: 765px) {
    #container {
        top: 40%;
        max-width: 100%;
    }

    #player {
        width: 100%;
    }
}
