@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

body {
    position: relative;
    height: 100vh;
    margin: 0;
    background-image: url('./fundo.png');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

#container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    background-color: rgba(245, 241, 241, 0.8);
    border: 10px solid transparent;
    border-radius: 10px;
    text-align: center;
    color: transparent;
}

#player {
    width: 554px;
    height: 312px;
}

h1 {
    font-size: 42px;
    margin-bottom: 30px;
    text-align: center;
}


 @media (max-width: 768px) {
    #container {
        top: 40%;
        max-width: 100%;
    }

    #player {
        width: 100%;
    }
}
